html {
    font-size: 10px;
}
.container {
    max-width: 102.4rem;
    margin: auto;
}
.main-content {
    box-sizing: border-box;
    padding: 2rem 1.2rem 2rem;
    text-align: center;
}
.main-content__table {
    margin: 0 auto 1rem auto;
}
.table {
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 1.4rem;
    border-radius: 1rem;
    border-spacing: 0;
    text-align: center;
}
.table__row:hover .table__data{
    background: #BCEBDD;
}
.table__head {
    width: 25rem;
    background: #BCEBDD;
    color: rgb(79, 91, 219);
    text-shadow: 0 1px 1px #ffffff;
    padding: 1rem 2rem;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
.table__head:first-child {
    border-top-left-radius: 1rem;
}
.table__head:last-child {
    border-top-right-radius: 1rem;
    border-right: none;
}
.table__data {
    width: 25%;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    padding: 1rem 2rem;
    background: #F8E391;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.table__row:last-child .table__data:first-child {
    border-radius: 0 0 0 1rem;
}

.table__row:last-child .table__data:last-child {
    border-radius: 0 0 1rem 0;
}

tr td:last-child {
    border-right: none;
}

.button-group {
    display: flex;
    justify-content: space-around;
}

.button-group__button {
    border-color: rgb(79, 91, 219);
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0.5rem;
    margin-right: 1rem;
}

.button-group__button:hover {
    background: #1d49aa;
}
  
.button-group__button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-group {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 35rem;
}

.pagination-group__button, .dottes {
    min-width: 4rem;
    font-size: 1.5rem;
    border-color: rgb(79, 91, 219);
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.dottes{
    border: none;
}

.pagination-group__button:hover {
    background: #1d49aa;
}
  
.pagination-group__button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.rows-controls {
    font-size: 1.4rem;
}

.main-content__form {
    margin: 0 auto;
}

.form {
    box-sizing: border-box;
    width: 100rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color:#BCEBDD;
    padding: 1rem 2rem;
    font-size: 1.7rem;
}

.form__heading {
    margin: 0;
    color:#1d49aa;
}

.form__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__label {
    color:#1d49aa;
    margin-right: 2rem;
    font-size: 2rem;
}

.form__select, .form__input, .form__button {
    padding: 0.5rem 1.5rem;
    border: 1px solid rgb(79, 91, 219);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 0.5rem;
}

.form__button-group {
    display: flex;
    justify-content: space-around;
    width: 20rem;
}

.form__button {
    background-color: #F8E391;
    font-size: 2.5rem;
}